# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://lddbsuhjgifkqmmekumf.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key-here
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key-here

# Database (used for migrations)
DATABASE_URL=postgresql://postgres.lddbsuhjgifkqmmekumf:RquSk68D3uZibjYH@aws-0-ap-northeast-1.pooler.supabase.com:6543/postgres

# Site URL
NEXT_PUBLIC_SERVER_URL=http://localhost:3000

# Admin credentials
ADMIN_EMAIL=asadbektillayev7@gmail.com
ADMIN_PASSWORD=Asadbek123456
